body {
    background-color: #181818;
    color: white;
    font-family: "Work Sans", serif;
}

.main_content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    top: 30%;
    margin-left: 18%;
    margin-right: 5px;
}

.title {
    display: flex;
    flex-direction: column;

    font-size: 3.8em;
    text-transform: uppercase;
}

.description {
    font-size: 1.5em;
}

@media screen and (max-width: 660px) {
    .main_content {
        margin-left: 10%;
    }

    .title {
        font-size: 2.5em;
    }

    .description {
        font-size: 1em;
    }
}